<nav>
    <ul>
        <!-- Información del usuario con imagen a la izquierda -->
        <div class="logo">
            <img src="../img/user.png" alt="Logo" class="logo-img">
        </div>
        <li class="user-info">
            <a href="/salir">Bienvenido, <strong><%= usuario.nombre %></strong></a>
        </li>
        <!-- Elementos de navegación a la derecha -->
        <li><a href="index">Inicio</a></li>
        <li><a href="html/inicio.html">Clientes</a></li>
        <li><a href="/productos">Productos</a></li>
        <li><a href="/ventas">Ventas</a></li>
        <li><a href="/reportes">Reportes</a></li>
        <li><a href="/salir">Salir</a></li>
    </ul>
</nav>
